<li class="eEvents relative">
    <a class='@(User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin") ? "" : "hidden ")absolute top-0 right-0 @(Model.Pinned ? "bg-amber-300 hover:bg-amber-200" : "bg-[rgb(75%,75%,75%)] hover:bg-[rgb(87.5%,87.5%,87.5%)]") m-3 p-3'
        href="/events/pin/@Model.EventId">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" width="20px" height="20px"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M235.33,104l-53.47,53.65c4.56,12.67,6.45,33.89-13.19,60A15.93,15.93,0,0,1,157,224c-.38,0-.75,0-1.13,0a16,16,0,0,1-11.32-4.69L96.29,171,53.66,213.66a8,8,0,0,1-11.32-11.32L85,159.71l-48.3-48.3A16,16,0,0,1,38,87.63c25.42-20.51,49.75-16.48,60.4-13.14L152,20.7a16,16,0,0,1,22.63,0l60.69,60.68A16,16,0,0,1,235.33,104Z">
            </path>
        </svg>
    </a>
    <div class="h-full flex flex-col border-[1px] border-[rgb(90%,90%,90%)] shadow-lg">
        <img class="h-[192px] object-cover" src="~/assets/@Model.Image"
            alt="Screenshot for event number: @Model.EventId" />
        <h1
            class="h-full flex justify-center items-center break-all font-black text-2xl text-center border-[1px] border-[rgb(90%,90%,90%)] p-3">
            @Model.Title</h1>
        <div class="h-full text-[rgb(37.5%,37.5%,37.5%)]">
            <p class="border-x-[1px] border-[rgb(90%,90%,90%)] p-3">
                @Model.Text
            </p>
            <div class="flex items-center border-[1px] border-[rgb(90%,90%,90%)] p-3">
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLinkVM { Type="btn-solid", URL=$"/events/view/{Model.Description}", Body="View More" }' />
                <div class="flex flex-col whitespace-nowrap ms-auto">
                    @* <small>
                    <span class="font-black">ID:</span> @Model.EventId
                    </small> *@
                    @* <span class="font-black">Date:</span> @formattedDate *@
                    <small>
                        @(Model.Date.Day % 2 == 1 ?
                            DateTime.Parse(Model.Date.ToString()).ToString("MMMM d\"rd\", yyyy") :
                            DateTime.Parse(Model.Date.ToString()).ToString("MMMM d\"th\", yyyy"))
                    </small>
                    @* <small>
                    <span class="font-black">Authored by:</span> @Model.Author
                    </small> *@
                </div>
            </div>
        </div>
    </div>
</li>
