@{
    string abc = "";

    switch (DateTime.Parse(Model.Date.ToString()).Day)
    {
        case 1:
        case 21:
        case 31:
            abc = "st";
            break;
        case 2:
        case 22:
            abc = "nd";
            break;
        case 3:
        case 23:
            abc = "rd";
            break;
        default:
            abc = "th";
            break;
    }
}

<li class="eEvents relative">
    @* <a class='@(User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Site_Admin") ? "" : "hidden
    ")absolute top-0 right-0 @(Model.Pinned ? "bg-sky-400 hover:bg-sky-300" : "bg-sky-600 hover:bg-sky-400") text-black
    m-3 p-4'
    href="/events/pin/@Model.EventId">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" width="20" height="20"
    xmlns="http://www.w3.org/2000/svg">
    <path
    d="M235.33,104l-53.47,53.65c4.56,12.67,6.45,33.89-13.19,60A15.93,15.93,0,0,1,157,224c-.38,0-.75,0-1.13,0a16,16,0,0,1-11.32-4.69L96.29,171,53.66,213.66a8,8,0,0,1-11.32-11.32L85,159.71l-48.3-48.3A16,16,0,0,1,38,87.63c25.42-20.51,49.75-16.48,60.4-13.14L152,20.7a16,16,0,0,1,22.63,0l60.69,60.68A16,16,0,0,1,235.33,104Z">
    </path>
    </svg>
    </a> *@
    <partial name="~/views/shared/htmllink.cshtml"
        model='new HtmlLinkVM { Type="link-events-pin-btn", Body=(Model.Pinned == true).ToString(), URL=$"/events/pin/{Model.EventId}" }' />
    <div class="h-full flex flex-col rounded-md shadow-md">
        <div class="relative w-full rounded-t-md border-[1px] border-b-0 border-[rgb(25%,25%,25%)]">
            @* <div
            class="z-10 absolute top-0 left-0 size-full bg-gradient-to-t from-[rgb(30,30,30)] from-0% via-transparent
            via-50% to-[rgb(30,30,30)] to-100%">
            </div> *@
            <div
                class="z-10 absolute top-0 left-0 size-full bg-[linear-gradient(rgba(5%,5%,15%,0.25),rgba(5%,5%,15%,0.25))]">
            </div>
            <img class="w-full h-[192px] object-cover saturate-[75%] brightness-[125%] contrast-[75%] shadow-lg"
                src="~/images/@Model.Image" alt="Screenshot for event number: @Model.EventId" />
        </div>
        <h1
            class="h-full flex items-center break-all tracking-wider font-black text-2xl text-center border-[1px] border-[rgb(25%,25%,25%)] p-4">
            @Html.Raw(Model.Title)</h1>
        <div class="h-full rounded-b-md text-[rgb(75%,75%,75%)] border-[1px] border-t-0 border-[rgb(25%,25%,25%)]">
            <p class="p-4">
                @Html.Raw(Model.Text)
            </p>
            <div class="flex flex-col-reverse lg:flex-row items-center gap-4 lg:gap-0 p-4">
                <partial name="~/views/shared/htmllink.cshtml"
                    model='new HtmlLinkVM { Type="btn-primary", URL=$"/events/view/{Html.Raw(Model.Description)}", Body="READ MORE" }' />
                <div class="flex flex-col whitespace-nowrap lg:ms-auto lg:me-4">
                    @* <small>
                    <span class="font-black">ID:</span> @Model.EventId
                    </small> *@
                    @* <span class="font-black">Date:</span> @formattedDate *@
                    <small>
                        @DateTime.Parse(Model.Date.ToString()).ToString($"MMMM d\"{abc}\", yyyy")
                    </small>
                    @* <small>
                    <span class="font-black">Authored by:</span> @Model.Author
                    </small> *@
                </div>
            </div>
        </div>
    </div>
</li>
